.heading {
  background-color: var(--background-color);
  padding: 8px 3rem;
  border-bottom: 1px solid var(--accent-color);
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.heading-1 {
  font-size: 1.75rem;
  color: var(--primary-color);
  padding: 0;
  white-space: nowrap;
}

.nav {
  border: 1px solid var(--container-border-color);
  border-radius: 4px;
}

.nav:hover {
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
  background-color: #fff;
  height: 2.75rem;
  border-radius: 4px;
  max-width: 100%;
}

.form-option {
  font-size: 0.875rem;
  padding: 8px;
  color: var(--text-color-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-right-1px {
  border-right: 1px solid var(--accent-color);
  height: 70%;
}

.search {
  background-color: var(--primary-color);
  height: 100%;
  padding: 8px;
  font-size: 1.875rem;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
}

.profile-option {
  color: var(--text-color-primary);
  font-size: 2.5rem;
}

.menu {
  border-right: 1px solid var(--accent-color);
}

.person {
  background-color: var(--accent-color);
  border-radius: 0 4px 4px 0;
}

.cursor-pointer:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .heading {
    padding: 8px 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    flex-wrap: wrap;
    height: auto;
    padding: 8px 1rem;
    gap: 0.5rem;
  }

  .form-container {
    order: 3;
    width: 100%;
    justify-content: space-between;
  }

  .heading-1 {
    font-size: 1.5rem;
  }

  .nav {
    height: 2.5rem;
  }

  .profile-option {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .form-option:not(:first-child) {
    display: none;
  }

  .border-right-1px {
    display: none;
  }

  .heading-1 {
    font-size: 1.25rem;
  }

  .form-container {
    width: auto;
    flex-grow: 1;
    margin-right: 0.5rem;
  }
}

